<h1 align="center"> Displaying all articles </h1>
<div align="center">
  <%= will_paginate %>
</div>
  <%= render 'articles/articles', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
