<!DOCTYPE html>
<html>

<head>
<link href="./style.css" type="text/css" rel="stylesheet">
</head>


<body>
<div class="body-page">
<!-- header -->
  <div class="header">
   <p class="title"><strong>Mark Cooper Janssen-Vooles</strong>
     <span class="links">Button Button Button Button</span></p>
     <%= link_to 'Home', root_path %>
  </div>
<!-- end header-->

<!-- body info -->
  <div class="page-body">
    <div class="resume_text">
<br>
      <p>This is the about me page.</p>
      </div>

      <div class="resume_media">
        <iframe class="video" width="448" height="252" src="https://www.youtube.com/embed/9T-4rtWAyE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>




  </div>
<!-- end body info -->

<!-- footer -->
  <div class="page-footer">
    <p><strong>Contact: </strong>Email - <em>m_arch@outlook.com.au</em></p>
  </div>
<!-- end footer -->

</div>
</body>
</html>
