<!DOCTYPE html>
<html>

<head>
<link href="./style.css" type="text/css" rel="stylesheet">
</head>


<body>
<div class="body-page">
<!-- header -->
  <div class="header">
   <p class="title"><strong>Mark Cooper Janssen-Vooles</strong>
     <span class="links">Button Button Button Button</span></p>
     <%= link_to 'About', about_path %>
  </div>
<!-- end header-->

<!-- body info -->
  <div class="page-body">
    <div class="resume_text">
    <h1><br>CAREER OBJECTIVE</h1>
    <br>
    <p>To obtain a position where my qualifications in web development can be utilised
      with my design ability developed through my Architecture degree and skills
      in analysing, attention to detail and design will give me the opportunity
      to improve the built environment for current and future generations. I am
      seeking a long-term role to grow and develop my skillset.</p>
      <h1><br>QUALIFICATIONS</h1>
      <br>
      <p><strong>Coder Academy Melbourne</strong><br>
        Fast track - 80% course weighted average<br>
        <strong>University of Western Australia</strong><br>
        Masters of Architecture – 76% course weighted average<br>
        Bachelor of Environmental Design – 74% course weighted average<br>
        <strong>Australian Driver’s License</strong><br>
         Obtained in 2010<br></p>
      <h1><br>SKILLS AND ATTRIBUTES</h1>
      <br>
      <p><strong>Advanced IT skills:</strong><br>
         Throughout my experience at coder academy, university,
        Actus Associates and Chindarsi Architects I have always been able to pick
         up and learn new programs quickly and effectively.<br>
         <strong>A natural analyser:</strong><br>
          Often noticing and seeing potential
          future problems that may have passed by others, I am able to identify
          and problem solve for potential long-term beneficial outcomes.<br>
          <strong>Able to work interdependently as well as independently:</strong> <br>
          I am a good listener and
cooperative team player with the ability to hone in on root causes and problems,
and I also have a strong ability to work autonomously on tasks.<br>
          <strong>Long-term career focused:</strong> <br>
          I am seeking to settle down in a long-term role to grow
 my abilities and career trajectory.<br></p>
      <h1><br>HOBBIES AND INTERESTS</h1>
      <br>
      <p><strong>Reading:</strong><br>
         The last few years I have enjoyed reading books on behavioural psychology,
          and I think this has given me a deeper understanding about what motivates
           others and outlined some common paths to success in work and life.<br>
           <strong>Researching:</strong><br>
            I enjoy researching anything related to nutrition / health – however
             confounding all the different opinions are and am an advocate of clean healthy living.<br>
           <strong>Sports:</strong><br>
            Actively played tennis for the past 7 years, including captaining
            several pennants teams at the East Fremantle Lawn Tennis club as well
             as some part-time work coaching children.</p>
      </div>

      <div class="resume_media">
        <iframe class="video" width="448" height="252" src="https://www.youtube.com/embed/9T-4rtWAyE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>




  </div>
<!-- end body info -->

<!-- footer -->
  <div class="page-footer">
    <p><strong>Contact: </strong>Email - <em>m_arch@outlook.com.au</em></p>
  </div>
<!-- end footer -->

</div>
</body>
</html>
